body,
html {
  margin-top: 30px;
}
.login-page .header:first-child {
  color: #31d9a0;
  font-size: 60px;
}
.login-page button {
  float: right;
}
.registrationModal label {
  color: white !important;
}
.registrationModal .buttons {
  text-align: center;
}
