body,
html {
  padding-top: 35px;
  background: linear-gradient(#fff, #fdfdfd, #f7f7f7);
  position: relative;
}
.login-page {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.login-page .pageHeader {
  margin-bottom: 30px;
}
.login-page .header:first-child {
  color: #31d9a0;
  font-size: 60px;
}
.login-page button {
  float: right;
}
.login-page form div {
  margin-bottom: 20px;
}
.registrationModal form div {
  margin-bottom: 25px;
}
.registrationModal label {
  color: white !important;
}
.registrationModal .buttons {
  text-align: center;
}
.registrationModal p {
  text-align: center;
  font-size: 45px;
  margin-bottom: 0px;
}
.dashboard-page .header:first-child {
  color: #31d9a0;
  font-size: 60px;
}
.dashboard-page .cards {
  margin-top: 30px;
  cursor: pointer;
}
.dashboard-page .cards .time {
  text-align: right;
}
.postcreate-page .header:first-child {
  color: #31d9a0;
  font-size: 60px;
}
.postcreate-page .buttons {
  float: right;
}
.postcreate-page form div {
  margin-bottom: 25px;
}
.postreview-page .header:first-child {
  color: #31d9a0;
  font-size: 60px;
}
.postreview-page .buttons {
  float: right;
}
.postview-page .header:first-child {
  color: #31d9a0;
  font-size: 60px;
}
.postview-page .buttons {
  float: right;
}
