@featherGreen: rgb(49, 217, 160);

body,
html {
  padding-top: 35px;
  background: linear-gradient(#fff, #fdfdfd, #f7f7f7);
  position: relative;
}

.login-page {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  .pageHeader {
    margin-bottom: 30px;
  }
  .header:first-child {
    color: @featherGreen;
    font-size: 60px;
  }
  .oauth-login {
    text-align: center;
    font-size: 45px;
    i:first-child {
      color: #3b5998;
      cursor: pointer;
    }
    i:last-child {
      color: #dd4b39;
      cursor: pointer;
    }
  }
  button {
    float: right;
  }
  form {
    div {
      margin-bottom: 20px;
    }
  }
}

.errors {
  color: red;
  text-align: center;
  margin-bottom: 0px;
}

.registrationModal {
  form {
    div {
      margin-bottom: 25px;
    }
  }
  label {
    color: white !important;
  }
  .buttons {
    text-align: center;
  }
  p {
    text-align: center;
    font-size: 45px;
    margin-bottom: 0px;
  }
}

.dashboard-page {
  .header:first-child {
    color: @featherGreen;
    font-size: 60px;
  }
  .cards {
    margin-top: 30px;
    cursor: pointer;
    .time {
      text-align: right;
    }
  }
}

.postcreate-page {
  .header:first-child {
    color: @featherGreen;
    font-size: 60px;
  }
  .buttons {
    float: right;
  }
  form {
    div {
      margin-bottom: 25px;
    }
  }
}

.postreview-page {
  .header:first-child {
    color: @featherGreen;
    font-size: 60px;
  }

  .content-container {
    height: auto;
    .content-details {
      padding-right: 5px;
      float: left;
      width: 20%;
      p:first-child {
        font-size: 16px;
        margin-bottom: 2px;
      }
    }
    .content-body {
      float: right;
      width: 80%;
      padding-left: 20px;
      border-left: 1px solid @featherGreen;
      p:first-child {
        font-size: 40px;
        margin-bottom: 0px;
      }
      p:nth-child(2) {
        font-size: 18px;
        font-style: italic;
      }
    }
  }
  .buttons {
    margin-top: 50px;
    clear: both;
    float: right;
  }
}

.postview-page {
  .header:first-child {
    color: @featherGreen;
    font-size: 60px;
  }
  .header:nth-child(2) {
    font-style: italic;
    font-size: 25px;
    margin-top: 0px;
  }
  .buttons {
    margin-top: 50px;
    clear: both;
    float: right;
  }
}
